<div class="complaint-wrapper">


    <div class="row mx-0 p-0">
        <div class="col-xl-3 col-md-3 col-sm-6 col-xs-6 mb-2 ">
            <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
                <div>
                    <p class="fs-6 fw-light m-0">Active complaints</p>
                    <p class="fs-5 fw-bold m-0">23</p>
                </div>
                <i class="bi bi-tools fs-4 text-danger"></i>
            </div>
        </div>
    </div>

    <!-- Paggination and limit component  -->
    <app-pagination [formGroup]="filterForm" [limit]="limit" [total_pages]="total_pages" [page_no]="page"
        [callback]="getTable.bind(this)"></app-pagination>
    <!-- Paggination and limit component  -->


    <!-- table  -->

    <div class="table-wrapper  rounded">

        <table class="table fs-10 ">
            <thead class="cursor-pointer user-selection-none">
                <tr>
                    <th>Sno.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>

            <tbody>
                @for(items of table_data ; track $index ; let i = $index){
                <tr>
                    <td>{{items.name}}</td>
                    <td>{{items.email}}</td>
                    <td>{{items.phone}}</td>
                    <td>
                        <span class="badge bg-success" [ngClass]="items.status === 1 ? 'bg-success' : 'bg-danger'">{{
                            items.status === 1 ? 'Active' : 'Inactive' }}</span>
                    </td>
                    <td class="d-flex justify-content-center gap-2">
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" 
                            class="my-btn-size primary"><i class="bi bi-pencil"></i></button>
                        <button class="my-btn-size danger" ><i
                                class="bi bi-trash"></i></button>
                    </td>
                </tr>
                }@empty{
                    <tr>
                        <td colspan="3">no Record found </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <!-- table  -->



</div>