<div class="pagination-warpper m-0 p-0 px-2 py-2 card-theme-color">

    <div class="d-flex justify-content-between mx-0 p-0">

        <div class="limit-warpper ">
    
            <div class="input-group input-group-sm">

                <span class="input-group-text">Select row</span>
                <select class="form-select form-select-sm">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                </select>
            </div>
            
        </div>
    
        <div class="pagination-warpper ">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm m-0">
                    <li class="page-item">
                        <a class="page-link fs-10"  aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link fs-10"  aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                      </a>
                    </li>
                  <li class="page-item"><a class="page-link fs-10" >1</a></li>
                  <!-- <li class="page-item"><a class="page-link fs-10" >2</a></li>
                  <li class="page-item"><a class="page-link fs-10" >3</a></li> -->
                  <li class="page-item">
                    <a class="page-link fs-10" aria-label="Next">
                      <span aria-hidden="true">&rsaquo;</span>
                    </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link fs-10" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>

</div>