<div class="client-wrapper w-100 h-100 position-relative">

    <div class="add-filter-container d-flex justify-content-end gap-2 position-relative mb-2">
        <button class="btn btn-sm btn-xsm btn-warning" (click)="filterOption = !filterOption"><i class="bi bi-funnel"  ></i> Filter</button>
        <button class="btn btn-sm btn-xsm btn-primary"><i class="bi bi-people"></i> Add client</button>
    </div>


    <!-- Filter  -->
    
    <div class="filter-conatiner card-theme-color  pt-2 rounded m-0 p-0 mb-2" [ngClass]="filterOption ? '' : 'd-none' ">
        <form [formGroup]="filterForm" class="row mx-0 p-0 ">

            <div class="mb-2 col-md-3">
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text  " id="basic-addon1">Name</span>
                    <input type="text" class="form-control form-control-sm " placeholder="Enter client name..">
                  </div>
            </div>
            <div class="mb-2 col-md-3">
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text " id="basic-addon1">Email</span>
                    <input type="text" class="form-control form-control-sm " placeholder="Enter client email..">
                  </div>
            </div>
            <div class="mb-2 col-md-3">
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text" id="basic-addon1">Status</span>
                    <select class="form-select form-select-sm">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                  </div>
            </div>
            <div class="mb-2 col-md-3 d-flex gap-2">
                <button type="submit" class="my-btn-size success"><i class="bi bi-search"></i> search</button>
                <button type="button" class="my-btn-size danger "><i class="bi bi-x"></i> reset</button>
            </div>

        </form>
    </div>

    <!-- Filter  -->

    <!-- Paggination and limit component  -->
     <app-pagination></app-pagination>
    <!-- Paggination and limit component  -->

</div>