<div class="dashbaord-wrapper">

    <div class="row mx-0 p-0">
        <div class="col-md-2 col-sm-6 col-xs-6 mb-2 ">
            <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
                <div>
                    <p class="fs-6 fw-light m-0">Total Tenant</p>
                    <p class="fs-5 fw-bold m-0">30</p>
                </div>
                <i class="bi bi-person fs-3 text-danger"></i>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 mb-2 ">
            <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
                <div>
                    <p class="fs-6 fw-light m-0">Profit</p>
                    <p class="fs-5 fw-bold m-0">$278279</p>
                </div>
                <i class="bi bi-cash fs-3 text-success"></i>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 mb-2 ">
            <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
                <div>
                    <p class="fs-6 fw-light m-0">Room available</p>
                    <p class="fs-5 fw-bold m-0">10/120</p>
                </div>
                <i class="bi bi-check2-circle fs-3 text-info"></i>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 mb-2 ">
            <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
                <div>
                    <p class="fs-6 fw-light m-0">Pending rent</p>
                    <p class="fs-5 fw-bold m-0">45/120</p>
                </div>
                <i class="bi bi-clock-history fs-3 text-danger"></i>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 mb-2 ">
            <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
                <div>
                    <p class="fs-6 fw-light m-0">Pending rent</p>
                    <p class="fs-5 fw-bold m-0">45/120</p>
                </div>
                <i class="bi bi-ticket-detailed fs-3 text-warning"></i>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6 mb-2 ">
            <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
                <div>
                    <p class="fs-6 fw-light m-0">Maint. request</p>
                    <p class="fs-5 fw-bold m-0">23</p>
                </div>
                <i class="bi bi-tools fs-4 text-danger"></i>
            </div>
        </div>
    </div>

</div>